<mat-card class="bp-card addr-overview">
  <mat-card-header>
    <div mat-card-avatar>
      <div class="bp-arrow"></div>
    </div>
    <mat-card-title>Mein Standort</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="d-flex">
      <div class="ms-5 flex-grow-1 bp-label">
        Meine Standorte
      </div>
      <div class="mx-5">
        <app-address-item
          *ngFor="let item of (items$ | async)"
          [item]="item"
          class="d-block mb-3"
        ></app-address-item>
      </div>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <button
      mat-flat-button
      class="btn bp-btn rounded-pill px-4 bp-add-addr"
      (click)="editVisible = !editVisible"
    >
      Neuen Standort hinzufügen <i class="icon i-plus-w ms-2"></i>
    </button>
  </mat-card-actions>
</mat-card>
<app-modal [(visible)]="editVisible" [zIndex]="200">
  <app-address-edit
    (cancelEvent)="onCancelEdit()"
    (saveEvent)="onSaveEdit($event)"
  ></app-address-edit>
</app-modal>
