:host .addr-item {
  @import 'src/scss/variables';
  padding: 0.5rem;

  &.item-border {
    border: 1px solid $textLight2;
    border-radius: 5px;
  }

  .addr-label,
  .addr-content,
  .addr-country {
    line-height: 1.1rem;
  }

  .addr-label {
    font-weight: 600;
  }

  .addr-country {
    font-size: 0.9rem;
    color: $textLight4;
    font-style: italic;
  }
}
