<mat-card class="bp-card addr-edit">
  <mat-card-header class="justify-content-center">
    <mat-card-title>
      Neuen Standort hinzufügen
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="bp-label mb-3">
      Adresse suchen
    </div>
    <ng-container *ngIf="selected === false; else preview">

      <mat-form-field class="mat-input-w100" appearance="outline">
        <mat-label>Suche</mat-label>
        <input
          type="text"
          placeholder="Suche"
          matInput
          [matAutocomplete]="auto"
          [(ngModel)]="model"
          (keyup)="filterAddressList($event)">
        <mat-autocomplete
          #auto="matAutocomplete"
          [displayWith]="formatter"
          (optionSelected)="onItemSelect()">
          <mat-option *ngFor="let item of addressList$ | async" [value]="item">
            <app-address-item
              [item]="item"
              [showLabel]="false"
              [showBorder]="false"
            ></app-address-item>
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </ng-container>
    <ng-template #preview>
      <div class="d-flex mb-2">
        <div>
          <app-address-item
            [item]="model"
            [showLabel]="false"
          ></app-address-item>
        </div>
        <div class="d-flex flex-column justify-content-center align-items-center">
          <button
            class="bp-btn-blank"
            (click)="onEditModel()"
          >Ort ändern</button>
        </div>
      </div>
      <mat-form-field class="mat-input-w100" appearance="outline">
        <mat-label>Name für gewählten Standort vergeben</mat-label>
        <input
          type="text"
          class="form-control"
          matInput
          placeholder="Name für gewählten Standort vergeben"
          [(ngModel)]="addrLabel">
      </mat-form-field>
    </ng-template>
  </mat-card-content>
  <mat-card-actions>
    <button mat-flat-button class="bp-light-btn rounded-pill px-4 me-2" (click)="onCancel()">
      Abbrechen <i class="icon i-cross ms-2"></i>
    </button>
    <button mat-flat-button class="bp-btn rounded-pill px-4 ms-2" (click)="onSave()">
      Speichern <i class="icon i-check-w ms-2"></i>
    </button>
  </mat-card-actions>
</mat-card>
