<mat-card class="bp-card addr-edit">
  <mat-card-header class="justify-content-center">
    <mat-card-title>
      Neuen Standort hinzufügen
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="bp-label mb-3">
      Adresse suchen
    </div>
    <ng-container *ngIf="selected === false; else preview">
      <app-addr-typeahead-input
        (selectEvent)="onItemSelect()"
        [(model)]="model"
      ></app-addr-typeahead-input>
    </ng-container>
    <ng-template #preview>
      <app-addr-label-input
        (editEvent)="onEditModel()"
        [model]="model"
      ></app-addr-label-input>
    </ng-template>
  </mat-card-content>
  <mat-card-actions>
    <button mat-flat-button class="bp-light-btn rounded-pill px-4 me-2" (click)="onCancel()">
      Abbrechen <i class="icon i-cross ms-2"></i>
    </button>
    <button mat-flat-button class="bp-btn rounded-pill px-4 ms-2" (click)="onSave()">
      Speichern <i class="icon i-check-w ms-2"></i>
    </button>
  </mat-card-actions>
</mat-card>
