<div class="d-flex mb-2">
  <div class="flex-grow-1">
    <app-address-item
      [item]="model"
      [showLabel]="false"
    ></app-address-item>
  </div>
  <div class="d-flex flex-column justify-content-center align-items-center">
    <button
      mat-flat-button
      class="bp-btn-blank bp-change-address"
      (click)="onEditModel()"
    >Ort ändern</button>
  </div>
</div>
<mat-form-field class="mat-input-w100 bp-outline-nolabel" appearance="outline">
  <input
    type="text"
    class="form-control"
    matInput
    placeholder="Name für gewählten Standort vergeben"
    [(ngModel)]="addrLabel">
  <button
    mat-button *ngIf="addrLabel"
    matSuffix
    mat-icon-button
    (click)="addrLabel = null"
  >
    <i class="icon i-cross"></i>
  </button>
</mat-form-field>
