<mat-form-field class="mat-input-w100" appearance="outline">
  <mat-label>Suchen</mat-label>
  <input
    type="text"
    placeholder="Suchen"
    matInput
    [matAutocomplete]="auto"
    [(ngModel)]="model"
    (keyup)="filterAddressList($event)">
  <button
    mat-button *ngIf="model"
    matSuffix
    mat-icon-button
    (click)="model = null"
  >
    <i class="icon i-cross"></i>
  </button>
  <mat-autocomplete
    #auto="matAutocomplete"
    [displayWith]="formatter"
    (optionSelected)="onItemSelect($event)">
    <mat-option *ngFor="let item of addressList$ | async" [value]="item">
      <app-address-item
        [item]="item"
        [showLabel]="false"
        [showBorder]="false"
      ></app-address-item>
    </mat-option>
  </mat-autocomplete>
</mat-form-field>
