
.bp-btn {
  background-color: $accentDark;
  color: $textLight;
}

.bp-light-btn {
  background-color: darken($accentLight, 5%);
  color: $accentDark;
}

.bp-btn-blank {
  background-color: transparent;
  border-color: transparent;
  color: $accentDark;
  font-weight: 600;
}
