
.bp-btn {
  @include button-variant(
    $accentDark, // background
    $accentDark, // border
  );

  color: $textLight;

  &:hover,
  &:active,
  &:focus,
  &:visited {
    color: $textLight;
  }
}

.bp-light-btn {
  @include button-variant(
    darken($accentLight, 8%), // background
    darken($accentLight, 8%), // border
  );

  color: $accentDark;

  &:hover,
  &:active,
  &:focus,
  &:visited {
    color: $accentDark;
  }
}

.bp-btn-blank {
  background-color: transparent;
  border-color: transparent;
  color: $accentDark;
  font-weight: 600;
}
